extends layout

block header

block content
  h1= title
  form(name="add-user", method="post", id='forms')
    div.input
      p.label(for=userIdPId) IdP ID 
      input(type="text", name="userIdPId", id="userIdPId")
      p.label IdPdisplayName
      input(type="text", name="IdPdisplayName")
      p.label Preferred Display Name
      input(type="text", name="preferredDisplayName")
      p.label user class (user/admin)
      input(type="text", name="userClass")
      p
      input(type="submit", name="submit")