doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    table 
      tr
        th <a href="/listCalibers"><img src="calibers.jpg" height="60"></a>
        th <a href="/listPowders"><img src="powder.jpg" height="60"></a>
        th <a href="/listLoads"><img src="loads.jpg" height="60"></a>
        th <a href="/listUsers"><img src="users.jpg" height="60"></a>            
    block header
    block content