doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    table 
      tr
        th <a href="/addcaliber">add caliber</a>
        th <a href="/listCalibers">list calibers</a>
        th <a href="/addPowder">add powder</a>
        th <a href="/listPowders">list powder</a>
        th <a href="/addLoads">add load</a>
        th <a href="/listLoads">list loads</a>
        th <a href="/addUser">add users</a>
        th <a href="/listUsers">list users</a>            
    block header
    block content