extends layout

block header

block content
  h1= title
  <a href="/addLoads">add load</a>
  table(id="customers")
    thead
      tr
        th Load Description
        th Load Caliber
        th Load Powder
      tbody
        each item in data
          - console.log(JSON.stringify(item));
          tr(onclick="javascript:location.href='detailLoad?loadId=" + item._id + "'")
            - if (typeof(item.loadDescription) !== 'undefined'){
            td= item.loadDescription
            - }            
            - if (typeof(item.loadCaliber) !== 'undefined'){
            td= item.loadCaliber
            - }            
            - if (typeof(item.loadPowder) !== 'undefined'){
            td= item.loadPowder
            - }
